* {
    color: rgba( 255, 255, 255, .8);
}

.logotipo {
    text-align: center;
    width: 25%;
    margin: 5px 0 5px 10px;
}

p,
a {
    position: relative;
}

p {
    top: 25%;
}

a {
    top: 16%;
}
